footer {
    /* text-align: center; */
    display: flex;
    flex-direction: column;

    padding: 2rem;
    /* margin: 1rem; */
}

/* footer ul, li {
    margin: 1rem;
} */

.footer-om-oss a {
    display: flex;
    margin: 1rem 1rem 1rem 0;
}

/* .footer-om-oss img {
    display: flex;
    justify-content: right;

} */

.content {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 3rem 2rem 2.5rem 2rem;
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem 3rem 2rem;
}

.policy {
    display: flex;
    justify-content: center;
    text-align: center;
}

.policy li {
   margin: 2rem;
}

.footer-end {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-end li {
    
    margin: 2rem;
 }

 footer br {
    line-height: 1rem;
}

footer hr {
    width: 100%;
}

.footer-end img {
    position: absolute;
    opacity: 10%;
    width: 85vw;
    height: auto;
    padding-top: 1rem;
}

@media screen and (min-width: 500px) {
    footer {
        padding: 5rem;
    }

}