.header-container-desktop {
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 82px;
}


.nav-right-desk {

    display: flex;
    align-items: center;
    height: 80%;
    gap: 10px;
    margin-right: 20px;
    margin-left: 10px;

}

.nav-left-desk {
    width: 70vw;
    display: flex;
    height: 70%;
    align-items: center;
    gap: 3%;
    margin-left: min(10vw, 40px);
    white-space: nowrap;

}


.icon-desk {
    max-width: 2vw;
}

.nav-left-desk a {
    font-size: min(1.5vw, 16px);
    font-weight: 700;
}

.search-desk{
    max-width: 10vw;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.logo-header{
    height: 40px;
    margin-right: 1vw;
}

.li {
cursor: pointer;
}


@media screen and (max-width:766px){

   .search-desk{
    opacity: 0%;
    max-width: 0px;
} 

}

