.logo-header {
    width: 38px;
    height: 23px;
    
}

.start-box {
    background-color: #AAAAAA;
    height: 40px;
    width: 100%;
    z-index: 5;
}

.menu-toggle {
    width: 25.5px;
    height: 17px;
}

.logo {
    padding: 5px;
    
}

.header-container {
    position: absolute;
    width: 100%;
    float: left;
    z-index: 10;
    padding: 1rem;
}

.quick-actions {
    float: right;    
}

.quick-actions button {
    padding: 0 0.6em 0 0.6em;
}

.header-text {
    position: absolute;
    top: 130px;
    margin: 2rem;
    z-index: 1;
}

/* .header-image img {
    width: 100%;
    height: 600px;
} */

.header-text h1, p {
    color: white;
    text-align: center;
}

.header-text h1 {
    font-size: 24px;
    padding: 0.5rem;
}

.header-text p {
    font-size: 12px;
    font-weight: 400;
}

nav {
    display: none;
}
