h1 span{
font-weight: 300;
color: #ffe48d;
}

.hero-image {
    /* position: relative; */
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero-wrapper {
    position: relative; /* key part! */
    width: 100%;
    height: 100%;
}

.hero-image img {
    
    position:relative;
    bottom: px;
    width: 100%;
    overflow: hidden;
    display: block;
}
