/* --- Hero imge and mountain illustration --- */
main section {
    padding: 2rem;
}


.header-text {
    z-index: 3;
}



h1 span{
font-weight: 300;
color: #ffe48d;
}

.hero-image {
    /* position: relative; */
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero-wrapper {
    position: relative; /* key part! */
    width: 100%;
    height: 100%;
}

.hero-image img {
    
    position:relative;
    bottom: px;
    width: 100%;
    overflow: hidden;
    display: block;
}
/* 
.mountain-illustration {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    z-index: 2;
} */

.mountain-illustration img {
    width: 100%;
    height: auto;
    display: block;
}


/* --- Carousel start --- */
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.carousel {
    width: 90vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
    scroll-padding: 50%;
}

.carousel-item {
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
    scroll-snap-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* opacity: 0.7; */
}

.carousel::-webkit-scrollbar {
    display: none; /* hide scrollbar for clean look */
}


/* Make centered image stand out */
.carousel-item.active {
    transform: scale(1.1);
    opacity: 1;
}

/* .carousel-item:hover {
    transform: scale(1.05);
} */

/* --- Button to carousel --- */

.controls button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 6px;
    background: #06B6D4;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0EA5E9;
}

@media screen and (min-width: 500px) {
    

}