* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: #131313;
}


main section {
    padding: 4vw;
}



:root {
    --sky-blue: #77BDDD;
    --aqua-blue: #63AAB6;
    --teal-green: #60BDB3;
    --amber-gold: #F6B850;
    --tangerine-orange: #F79B5A;
    --sunshine-yellow: #FFE48D;
    --black: #000;
}

a, li, p {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
}

button {
    border: none;
    color: white;
    background: none;
}

hr {
    color: #AAAAAA;
    width: 90vw;
    border-width: 1.5px;
    margin: auto;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.2px);
  -webkit-backdrop-filter: blur(14.2px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}



@media screen and (min-width: 500px) {
    
}