* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: var(--background-color);
}


main section {
    padding: 3vw 6vw 3vw 6vw;
}



:root {
    --background-color: #131313;
    --sky-blue: #77BDDD;
    --aqua-blue: #63AAB6;
    --teal-green: #60BDB3;
    --amber-gold: #F6B850;
    --tangerine-orange: #F79B5A;
    --sunshine-yellow: #FFE48D;
    --black: #000;
}

a, li, p {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.08px;
}

button {
    border: none;
    color: white;
    background: none;
}

hr {
    color: #AAAAAA;
    width: 100%;
    border-width: 1.5px;
    margin: auto;
}

.frosted-glass {

    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(135deg, rgba(69, 69, 69, 0.55) 0%, rgba(255, 255, 255, 0.05) 60%, rgb(65 65 65 / 37%) 100%);
    box-shadow: inset 0 4px 6px rgba(254, 254, 254, 0.25), inset -9px -20px 20px 20px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.15);
}


.menu-glass {

    
       background: rgba(213, 213, 213, 0.098);
    box-shadow: 0px 0px 11px 5px rgb(12 12 12 / 42%), inset 0px -5px 11px 3px rgba(0, 0, 0, 0.17);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: relative;
    margin: 20 auto;
    touch-action: pan-y;

}

.menu-glass-desk {

    
    background: rgba(213, 213, 213, 0.098);
    /* box-shadow: -6px -4px 30px 3px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 11px 5px rgb(12 12 12 / 42%), inset 0px -5px 11px 3px rgba(0, 0, 0, 0.17);
    position: relative;
    margin: 20 auto;
    touch-action: pan-y;

}


.button-glass {

    
    /* background: rgb(215 215 215 / 33%); */
    box-shadow: -6px -4px 30px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px outset rgb(255 255 255 / 73%);
    /* background-image: linear-gradient(
    100deg, rgba(69, 69, 69, 0.55) 0%, rgba(255, 255, 255, 0.05) 70%, rgb(65 65 65 / 37%) 200%); */
    box-shadow: inset 0px 0px 11px 5px rgba(254, 254, 254, 0.25), inset -9px -20px 18px 20px rgba(0, 0, 0, 0.17);
    position: relative;
    /* overflow: hidden; */
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.1);

}




.bubble-glass {

    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: .1px  inset rgb(255 255 255 / 45%);
    box-shadow: inset -1px -4px 10px 3px rgb(138 138 138 / 25%), inset 0px -1px 20px 30px rgb(0 0 0 / 17%);
    position: relative;
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.15);
    background: radial-gradient(circle, rgb(158 158 158 / 81%) -70%, rgb(110 110 110 / 0%) 60%);
}


    






@media screen and (min-width: 500px) {
    
}