.newsletter {
    display: flex;
    flex-direction: row;
}


.registration-container {
display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 100%;
height: 30vh;
margin-top: 5vh;
margin-bottom: 1vh;
}


.reg-textblock h3 {
    font-size: 200;
    font-weight: 400;
    color: white;
    letter-spacing: -0.08px;
}

.reg-textblock p {
    font-size: .8rem;
    margin-top: -15px;
    color: white;
}



.reg-buttons {
    display: flex;
    justify-content: space-between;
}

.register {
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e7e7e7; color: black;
}

.unregister {
font-size: 1rem;
text-decoration: underline;
cursor: pointer;

}

.register-mail {

    max-width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1rem;
    margin-bottom: -30px;
}



.content-container {
    background-image: url(/components/background-images/merch_background_final.jpg);
    background-size: cover;
    border-radius: 21px;
    height: 60vh;
    display: flex;
    border: .1rem solid rgba(255, 255, 255, 0.228);
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-direction: column;
    align-items: center;

}


.content-container h3 {
    padding-left: 5%;
    color: white;
}




.upper-inner {
    display: flex;
    padding: 5%;
    justify-content: space-around;
    align-items: center;
}

.upper-inner p {
    width: 40%;
    color: white;
}

.lower-inner {
    display: flex;
    padding: 5%;
    justify-content: space-around;
    align-items: center;
}

.lower-inner p {
    width: 40%;
    color: white;
}

.lower h3 {
    margin-top: 20px;
    
}



.upper-inner, .lower-inner {

    /* height: max(40%); */
}




.news-bubble {
    position: relative;
    width: 50%;
    /* height: 50%; */
    border-radius: 50%;
}

.news-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-fit: cover;   alternatively*/
    overflow: hidden;
    scale: 80%;
}


.largeText{
    position: absolute;

    left: 200px;
color: white;
font-size: 4rem;

} 

.outer {
    display: flex;
    justify-content: center;
    
}



/* ipad / transition point between phone and deskotp */
@media screen and (min-width: 440px) {

    .content-container {
       
        display: flex;
        justify-content: center;
        width: 100%;
        height: 700px;
        padding: 0;
    }
}



/* Desktop */
@media screen and (min-width: 700px) {

    .content-container {
        display: flex;
        justify-content: center;
        height: 1200px;
        padding: 0;
        margin: 0 auto;
        width: 70%;
    }


.content-divider{
    height: 0;

}

.upper, .lower {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    height: 50%;
}

.upper h3, .lower h3 {
    padding-top: 30px;
    font-size: min(2.3rem, 3vw);
    transform: translateY(40px);
 
}

.upper p, .lower p {
    padding: 40px;
    font-size: 20px;
 
}

.upper-inner{
    height: 90%;
    padding: 0px;
}


.lower-inner {
    height: 90%;
    padding: 0px;

}

.news-bubble {
scale: .6;
min-width: 60vh;
}

.registration-container {
    margin: 0 auto;
    width: 70%;
    padding-bottom: 2rem;
}


}