.news-container {

    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.news-bubble {
    position: relative;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.news-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* object-fit: cover;   alternatively*/
    overflow: hidden;
}