:root {
  --bubble-size-desktop: min(18vw, 180px);
  --bubble-size-mobile: min(40vw, 180px);
  --bubble-size-mid: min(13vw, 130px);
}

/* Gallery */
.bubble-gallery {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  height: 80vh;
  border-radius: 21px;
  overflow: hidden;
  z-index: 5;
}

/* Background */
.gallery-bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("../components/background-images/lines_texture_vector.jpg");
  background-size: cover;
  background-position: center;
}

.product-heading {
  display: flex;
  justify-content: center;
  transform: translateY(100px);
}

.product-bubble {
  position: relative;
  text-align: center;
  --bubble-size: var(--bubble-size-desktop);
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

/* Main bubble area */
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--bubble-size);
  height: var(--bubble-size);
  border-radius: 50%;
  overflow: hidden;
}

/* Hover enlarge */
.product-bubble:hover {
  margin: 70px;
  transform: scale(1.5);
}

/* ---------------------------
   IMAGE FADE TRANSITION
----------------------------- */
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  transition:  0.15s ease;
  opacity: 1;
}

.slide-img.fade-out {
  scale: .8;
  opacity: .2;
}

/* Arrows */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgb(215 215 215 / 33%);
  cursor: pointer;
  z-index: 2;
  transform: translateY(-150%);
  transition: transform 0.2s ease;
  backdrop-filter: blur(2.2px);
  border: .3px outset rgb(255 255 255 / 73%);
  background-image: linear-gradient(
      100deg,
      rgba(69, 69, 69, 0.55) 0%,
      rgba(255, 255, 255, 0.05) 70%,
      rgb(65 65 65 / 37%) 200%
  );
}

.arrow svg {
  stroke: rgb(13, 13, 13);
}

.arrow.prev {
  left: calc(50% - (var(--bubble-size) / 2) - 20px);
}

.arrow.next {
  right: calc(50% - (var(--bubble-size) / 2) - 20px);
}

.arrow:hover {
  transform: translateY(-150%) scale(1.2);
  filter: drop-shadow(0 0 0.75rem rgba(230, 230, 230, 0.452));
}

/* Swatches */
.swatches {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.swatch {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  outline: 1.5px solid #2c2c2c;
}

.swatch.active {
  outline-offset: 3.5px;
}

.swatch.plus {
  background: #ffffff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Title & Price */
.product-title,
.product-price {
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  margin-top: 8px;
  font-size: 1rem;
}

/* Tablet */
@media (max-width: 1100px) {
  .product-heading {
    transform: translateY(80px);
    font-size: 2rem;
  }

  .bubble-gallery {
    height: 60vh;
  }

  .product-bubble {
    --bubble-size: var(--bubble-size-mid);
  }

  .product-bubble:hover {
    margin: 30px;
    transform: scale(1.3);
    
  }
}

/* Mobile */
@media (max-width: 680px) {
  .bubble-gallery {
    grid-template-columns: 1fr;
    height: 170vh;
    min-height: 1500px;
    overflow: scroll;
  }

  .product-bubble {
    --bubble-size: var(--bubble-size-mobile);
    scale: 1.2;
  }

  .product-bubble:hover {
    transform: scale(1);
    margin: 0;
  }

  .arrow {
    top: 55;
  }

  .arrow.prev {
    left: calc(50% - (var(--bubble-size) / 2) - 20px);
  }

  .arrow.next {
    right: calc(50% - (var(--bubble-size) / 2) - 20px);
  }

  .slide-container {
    padding: 10px;
    margin: 10px;
  }
}
