* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

:root {
    --sky-blue: #0EA5E9;
    --aqua-blue: #06B6D4;
    --teal-green: #14B8A6;
    --amber-gold: #F59E0B;
    --tangerine-orange: #F97316;
    --sunshine-yellow: #FCD34D;
    --black: #000;
}

a, li, p {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
}

button {
    border: none;
    color: white;
    background: none;
}

hr {
    color: #AAAAAA;
    width: 90vw;
    border-width: 1.5px;
    margin: auto;
}

.logo-header {
    width: 38px;
    height: 23px;
    
}

.start-box {
    background-color: #AAAAAA;
    height: 40px;
    width: 100%;
    z-index: 5;
}

.menu-toggle {
    width: 25.5px;
    height: 17px;
}

.logo {
    padding: 5px;
    
}

.header-container {
    position: absolute;
    width: 100%;
    float: left;
    z-index: 10;
    padding: 1rem;
}

.quick-actions {
    float: right;    
}

.quick-actions button {
    padding: 0 0.6em 0 0.6em;
}

.header-text {
    position: absolute;
    top: 130px;
    margin: 2rem;
}

.header-image img {
    width: 100%;
    height: 600px;
}

.header-text h1, p {
    color: white;
    text-align: center;
}

.header-text h1 {
    font-size: 24px;
    padding: 0.5rem;
}

.header-text p {
    font-size: 12px;
    font-weight: 400;
}

nav {
    display: none;
}

.header-mountain img {
    position: absolute;
    width: 100%;
    top: 505px;
}

footer {
    text-align: center;
    padding: 1rem;
}