* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

:root {
    --sky-blue: #77BDDD;
    --aqua-blue: #63AAB6;
    --teal-green: #60BDB3;
    --amber-gold: #F6B850;
    --tangerine-orange: #F79B5A;
    --sunshine-yellow: #FFE48D;
    --black: #000;
}

a, li, p {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
}

button {
    border: none;
    color: white;
    background: none;
}

hr {
    color: #AAAAAA;
    width: 90vw;
    border-width: 1.5px;
    margin: auto;
}