* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

:root {
    --sky-blue: #0EA5E9;
    --aqua-blue: #06B6D4;
    --teal-green: #14B8A6;
    --amber-gold: #F59E0B;
    --tangerine-orange: #F97316;
    --sunshine-yellow: #FCD34D;
    --black: #000;
}

a, li, p {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
}

button {
    border: none;
    color: white;
    background: none;
}

hr {
    color: #AAAAAA;
    width: 90vw;
    border-width: 1.5px;
    margin: auto;
}