.techviz {
    position: relative;
    background-color: #52897e4e;
    width: 100%;
    height: 30vh;
    min-height: 25vh;
    border-radius: 21px;
    overflow: hidden;
    container-name: sidebar
}

.techviz-background-image {
    position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
    z-index: -1;
}

.techviz-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    gap: 1rem;
}

.techviz-mini-text {
    font-weight: 600;
    font-size: 2vw;
    color: #fff;
    margin-bottom: 1rem;
}

.techviz-bold-text {
    font-weight: 700;
    font-size: 4vw;
    color: #fff;
    text-transform: uppercase;
    /* margin-bottom: 4rem; */
}

.techviz-p {
    font-size: 2.5vw;
    color: #fff;
}

.techviz-botton {
    width: 86px;
    height: 35px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.12);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.techviz-image {
    position: relative;
    z-index: 1;
}

.techviz-image img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 700px) {
    .techviz {
        height: 50vh;
    }

    .techviz-mini-text {
        font-size: 20px;
     }

    .techviz-bold-text {
        font-size: 30px;
    }

    .techviz-p {
        font-size: 20px;
    }

    .techviz-image img {
        width: 70%;
        height: auto;
    }
}



