.techviz {
    position: relative;
    background-color: #52897e4e;
    width: 100%;
    height: 207px;
    border-radius: 21px;
    overflow: hidden;
}

.techviz img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
}

.techviz-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
}

.techviz-mini-text {
    font-weight: 600;
    font-size: 0.7rem;
}

.techviz-bold-text {
    font-weight: 700;
    font-size: 1rem;
}

.techviz-p {
    font-size: 0.8rem;
}

.techviz-botton {
    width: 86px;
    height: 35px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

.techviz-image img {
    width: 100%;
    height: 100%;
}

