.techviz {
    position: relative;
    /* background-color: #52897e4e; */
    width: 100%;
    /* height: 30vh;
    min-height: 25vh; */
    border-radius: 21px;
    overflow: hidden;
}

.techviz-background-image {
    position: absolute;
    width: 100%;
    object-fit: cover;
    /* opacity: 70%; */
    z-index: -1;
}

.techviz-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 3vw;
    gap: 5vw;
}

.techviz-mini-text {
    font-weight: 600;
    font-size: 2vw;
    color: #fff;
    margin-bottom: 1rem;
}

.techviz-bold-text {
    font-weight: 700;
    font-size: 4vw;
    color: #fff;
    text-transform: uppercase;
    /* margin-bottom: 4rem; */
}

.techviz-p {
    font-size: 2.5vw;
    color: #fff;
}

.techviz-botton {
    width: 10vw;
    min-width: 86px;
    height: 3vw;
    min-height: 35px;
    border-radius: 100px;
    /* background-color: rgba(255, 255, 255, 0.12); */
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 3vw;
}

.techviz-image {
    position: relative;
    z-index: 1;
}

.techviz-image img {
    width: 100%;
    height: auto;
}



@media screen and (min-width: 700px) {
    /* .techviz {
        height: 80vh;
    } */

    .techviz-container {
        padding: 5vw;
        gap: 13vw;
    }

    .techviz-mini-text {
        font-size: 1rem;
     }

    .techviz-bold-text {
        font-size: 2.3rem;
    }

    .techviz-p {
        font-size: 20px;
    }

    .techviz-image img {
        margin-top: 5rem;
        width: 100%;
        height: auto;
        bottom: 0;
    }

    .techviz-botton {
        width: 15vw;
        height: 5.5vw;
        margin: 5vw;
        font-size: 1.1rem;
    }

    .techviz-botton:hover {
        scale: 1.05;
        transition: 0.3s;
        cursor: pointer;
        font-size: 20px;
    }
}



