* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body {
    background-color: var(--background-color);
}


main section {
    padding: 6vw;
}



:root {
    --background-color: #131313;
    --sky-blue: #77BDDD;
    --aqua-blue: #63AAB6;
    --teal-green: #60BDB3;
    --amber-gold: #F6B850;
    --tangerine-orange: #F79B5A;
    --sunshine-yellow: #FFE48D;
    --black: #000;
}

a, li, p {
    text-decoration: none;
    list-style: none;
    font-weight: 400;
    color: var(--black);
    font-size: 1rem;
}

button {
    border: none;
    color: white;
    background: none;
}

hr {
    color: #AAAAAA;
    width: 90vw;
    border-width: 1.5px;
    margin: auto;
}

.frosted-glass {

    background: rgba(255, 255, 255, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-image: linear-gradient(135deg, rgba(69, 69, 69, 0.55) 0%, rgba(255, 255, 255, 0.05) 60%, rgb(65 65 65 / 37%) 100%);
    box-shadow: inset 0 4px 6px rgba(254, 254, 254, 0.25), inset -9px -20px 20px 20px rgba(0, 0, 0, 0.12);
    position: relative;
    overflow: hidden;
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.15);
}


.menu-glass {

    
    background: rgba(23, 23, 23, 0.73);
    box-shadow: -6px -4px 30px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px outset rgb(255 255 255 / 73%);
    /* background-image: linear-gradient(
    100deg, rgba(69, 69, 69, 0.55) 0%, rgba(255, 255, 255, 0.05) 70%, rgb(65 65 65 / 37%) 200%); */
    box-shadow: inset 0px 0px 11px 5px rgba(254, 254, 254, 0.25), inset -9px -20px 18px 20px rgba(0, 0, 0, 0.17);
    position: relative;
    /* overflow: hidden; */
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.1);

}



.button-glass {

    
    /* background: rgb(215 215 215 / 33%); */
    box-shadow: -6px -4px 30px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px outset rgb(255 255 255 / 73%);
    /* background-image: linear-gradient(
    100deg, rgba(69, 69, 69, 0.55) 0%, rgba(255, 255, 255, 0.05) 70%, rgb(65 65 65 / 37%) 200%); */
    box-shadow: inset 0px 0px 11px 5px rgba(254, 254, 254, 0.25), inset -9px -20px 18px 20px rgba(0, 0, 0, 0.17);
    position: relative;
    /* overflow: hidden; */
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.1);

}




.bubble-glass {

    
    background: rgb(215 215 215 / 33%);
    box-shadow: -6px -4px 30px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px outset rgb(255 255 255 / 73%);
    background-image: linear-gradient(
    100deg, rgba(69, 69, 69, 0.55) 0%, rgba(255, 255, 255, 0.05) 70%, rgb(65 65 65 / 37%) 200%);
    box-shadow: inset -2px -6px 11px 9px rgba(254, 254, 254, 0.25), inset -9px -20px 18px 20px rgba(0, 0, 0, 0.17);
    position: relative;
    /* overflow: hidden; */
    margin: 20 auto;
    touch-action: pan-y;
    filter: brightness(1.15);

}







@media screen and (min-width: 500px) {
    
}